In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('english_words.csv')
df.head()

  word      freq
0  the  58784490
1   of  25242547
2  and  25188846
3   to  24462483
4    a  22290078

In [3]:
df = pd.read_csv('english_words.csv',index_col='word')
df

               freq
word
the        58784490
of         25242547
and        25188846
to         24462483
a          22290078
...             ...
aabe              6
aaaf              6
aaae              6
aaaaah            6
aaaaaaaaa         6

[706375 rows x 1 columns]

How many elements does this dataframe have?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 706375 entries, the to aaaaaaaaa
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   freq    706375 non-null  int64
dtypes: int64(1)
memory usage: 10.8+ MB

In [5]:
df.shape

(706375, 1)

what is the value of word aaaaaaaaa?

In [6]:
df.loc['aaaaaaaaa','freq']

6

what is the highest possible freq of a word?

In [7]:
df.max()

freq    58784490
dtype: int64

In [8]:
df.describe()

               freq
count  7.063750e+05
mean   1.289370e+03
std    1.017556e+05
min    6.000000e+00
25%    9.000000e+00
50%    1.600000e+01
75%    4.800000e+01
max    5.878449e+07

Getting the freq of multiple words at once

In [9]:
df.loc[['the','and','to']]

          freq
word
the   58784490
and   25188846
to    24462483

what is the word with the freq of 319?

In [10]:
df.sort_values(by = ['freq'],ascending= False)

               freq
word
the        58784490
of         25242547
and        25188846
to         24462483
a          22290078
...             ...
pdef              6
pdcpd             6
pdch              6
pdaphone          6
aaaaaaaaa         6

[706375 rows x 1 columns]

In [11]:
(df['freq'] == 319)

word
the          False
of           False
and          False
to           False
a            False
             ...
aabe         False
aaaf         False
aaae         False
aaaaah       False
aaaaaaaaa    False
Name: freq, Length: 706375, dtype: bool

In [12]:
df.loc[df['freq']== 319]

           freq
word
wurlitzer   319
vassallo    319
varela      319
uschina     319
unspent     319
...         ...
aureus      319
arsonists   319
anion       319
allaire     319
adrianna    319

[91 rows x 1 columns]

what is the most common freq?

In [13]:
df['freq'].describe()

count    7.063750e+05
mean     1.289370e+03
std      1.017556e+05
min      6.000000e+00
25%      9.000000e+00
50%      1.600000e+01
75%      4.800000e+01
max      5.878449e+07
Name: freq, dtype: float64

In [14]:
df['freq'].mode()

0    6
Name: freq, dtype: int64

In [17]:
df['freq'].value_counts().head()

freq
6     73291
7     56179
8     45549
9     37445
10    31228
Name: count, dtype: int64

In [15]:
df.loc[df['freq'] == 6].sample(10)

                freq
word
nunal              6
kfxo               6
bromiges           6
katzourakis        6
wahnotee           6
godname            6
wienerbrd          6
mephistophilis     6
siodlowski         6
drhy               6

what is the shortest word with freq 274?

In [19]:
df.loc[df['freq'] == 274].sort_values(by='word')

             freq
word
afflicts      274
agro          274
akali         274
albinism      274
anglicanism   274
...           ...
waal          274
wea           274
wellspoken    274
wyler         274
zellweger     274

[127 rows x 1 columns]

In [24]:
df.loc[
    (df['freq'] == 274) &
    (df.index == 'wyler')
]

       freq
word
wyler   274

create a column Ratio which represents the 'Freq Ratio' of a word

In [20]:
df['Char Count']= df.index.str.len()
df

               freq  Char Count
word
the        58784490         3.0
of         25242547         2.0
and        25188846         3.0
to         24462483         2.0
a          22290078         1.0
...             ...         ...
aabe              6         4.0
aaaf              6         4.0
aaae              6         4.0
aaaaah            6         6.0
aaaaaaaaa         6         9.0

[706375 rows x 2 columns]

In [21]:
df['Ratio'] = df['freq']/df['Char Count']
df.sample(50)

                    freq  Char Count       Ratio
word
pouron                 6         6.0    1.000000
sinfulness           117        10.0   11.700000
becerra              238         7.0   34.000000
obando                57         6.0    9.500000
annanicole             6        10.0    0.600000
simchah               22         7.0    3.142857
managementoriented     7        18.0    0.388889
endurae                9         7.0    1.285714
oplinger              21         8.0    2.625000
stateville            34        10.0    3.400000
jazzorientated         6        14.0    0.428571
voedisch               7         8.0    0.875000
cabotage              37         8.0    4.625000
rishel                52         6.0    8.666667
chalicuchima           6        12.0    0.500000
kellyspringfield      15        16.0    0.937500
mahamantra            17        10.0    1.700000
agricore              13         8.0    1.625000
ornburn                7         7.0    1.000000
statuatory             8        10.0    0.800000
zhiyu                  7         5.0    1.400000
slowerpaced           50        11.0    4.545455
tengah                90         6.0   15.000000
recordists            13        10.0    1.300000
chessmen              45         8.0    5.625000
dhananjaya            17        10.0    1.700000
dronebarger            8        11.0    0.727273
skyes                 56         5.0   11.200000
driapsa                6         7.0    0.857143
micklewright           7        12.0    0.583333
hxy                    8         3.0    2.666667
bagpipers            106         9.0   11.777778
strannik               8         8.0    1.000000
catt                 162         4.0   40.500000
griselio              12         8.0    1.500000
gulbransen             7        10.0    0.700000
szamotulski           13        11.0    1.181818
chene                 43         5.0    8.600000
warmclimate            8        11.0    0.727273
glenafton              9         9.0    1.000000
galpagos             313         8.0   39.125000
thormahlen            14        10.0    1.400000
cybersite             88         9.0    9.777778
dtses                 15         5.0    3.000000
upanja                11         6.0    1.833333
nearperpetual          8        13.0    0.615385
noneminor              7         9.0    0.777778
metalloproteinase     12        17.0    0.705882
gustav              4137         6.0  689.500000
hasmonaean             8        10.0    0.800000

what is the maximum value of ratio?

In [22]:
df['Ratio'].describe()

count    7.063720e+05
mean     3.694920e+02
std      4.666677e+04
min      1.379310e-01
25%      1.125000e+00
50%      2.166667e+00
75%      6.833333e+00
max      2.229008e+07
Name: Ratio, dtype: float64

what word is the one with the highest ratio?

In [23]:
df.sort_values(by='Ratio',ascending=False).head()

          freq  Char Count       Ratio
word
a     22290078         1.0  22290078.0
the   58784490         3.0  19594830.0
of    25242547         2.0  12621273.5
to    24462483         2.0  12231241.5
in    21196107         2.0  10598053.5

In [24]:
df.loc[df['Ratio'] == df['Ratio'].max()]

          freq  Char Count       Ratio
word
a     22290078         1.0  22290078.0

What is the shortest wrod of freq = 274?

In [35]:
df.loc[
    (df['freq'] == 274) &
    (df['Char Count'] == df.loc[df['freq'] == 274, 'Char Count'].min())
]

      freq  Char Count
word
wea    274         3.0
ofc    274         3.0
nbs    274         3.0
mmi    274         3.0
dlr    274         3.0
bua    274         3.0

How many words have ratio of 10?

In [25]:
df.loc[df['Ratio'] == 10].shape

(1267, 3)

In [26]:
df.query('Ratio == 10').shape

(1267, 3)

what is the maximum freq of all the words with a ratio of 10?

In [28]:
df.query('Ratio == 10').sort_values(by = 'freq',ascending=False).head()

                    freq  Char Count  Ratio
word
interrelationships   180        18.0   10.0
filipinoamerican     160        16.0   10.0
contextsensitive     160        16.0   10.0
ligebastognelige     160        16.0   10.0
investigational      150        15.0   10.0

In [48]:
df.loc[df['Ratio'] == 10,'freq'].max()

180

of those words with a freq of 260, what is the lowest char count found?

In [29]:
df.query('freq == 260').sort_values(by = 'Char Count')

                 freq  Char Count       Ratio
word
zn                260         2.0  130.000000
trc               260         3.0   86.666667
jjb               260         3.0   86.666667
sro               260         3.0   86.666667
luk               260         3.0   86.666667
...               ...         ...         ...
shorttempered     260        13.0   20.000000
prisonerofwar     260        13.0   20.000000
nottoodistant     260        13.0   20.000000
astrophysicist    260        14.0   18.571429
antiimperialist   260        15.0   17.333333

[169 rows x 3 columns]

In [30]:
df['Char Count'].describe()

count    706372.000000
mean          8.044768
std           2.900038
min           1.000000
25%           6.000000
50%           8.000000
75%          10.000000
max          58.000000
Name: Char Count, dtype: float64

Find all the words with Chart count > avg chart count

In [31]:
mean_char_count = df['Char Count'].mean()
mean_char_count

8.04476819579485

In [33]:
df.query("`Char Count` > @mean_char_count")

              freq  Char Count         Ratio
word
government  497141        10.0  49714.100000
including   445894         9.0  49543.777778
university  394148        10.0  39414.800000
different   366541         9.0  40726.777778
president   366207         9.0  40689.666667
...            ...         ...           ...
aaronieros       6        10.0      0.600000
aamnesiac        6         9.0      0.666667
aadheenam        6         9.0      0.666667
aabhushan        6         9.0      0.666667
aaaaaaaaa        6         9.0      0.666667

[266781 rows x 3 columns]