In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('english_words.csv')
df.head()

  word      freq
0  the  58784490
1   of  25242547
2  and  25188846
3   to  24462483
4    a  22290078

In [3]:
df = pd.read_csv('english_words.csv',index_col='word')
df

               freq
word
the        58784490
of         25242547
and        25188846
to         24462483
a          22290078
...             ...
aabe              6
aaaf              6
aaae              6
aaaaah            6
aaaaaaaaa         6

[706375 rows x 1 columns]

How many elements does this dataframe have?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 706375 entries, the to aaaaaaaaa
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   freq    706375 non-null  int64
dtypes: int64(1)
memory usage: 10.8+ MB

In [5]:
df.shape

(706375, 1)

what is the value of word aaaaaaaaa?

In [6]:
df.loc['aaaaaaaaa','freq']

6

what is the highest possible freq of a word?

In [7]:
df.max()

freq    58784490
dtype: int64

In [8]:
df.describe()

               freq
count  7.063750e+05
mean   1.289370e+03
std    1.017556e+05
min    6.000000e+00
25%    9.000000e+00
50%    1.600000e+01
75%    4.800000e+01
max    5.878449e+07

Getting the freq of multiple words at once

In [9]:
df.loc[['the','and','to']]

          freq
word
the   58784490
and   25188846
to    24462483

what is the word with the freq of 319?

In [10]:
df.sort_values(by = ['freq'],ascending= False)

               freq
word
the        58784490
of         25242547
and        25188846
to         24462483
a          22290078
...             ...
pdef              6
pdcpd             6
pdch              6
pdaphone          6
aaaaaaaaa         6

[706375 rows x 1 columns]

In [11]:
(df['freq'] == 319)

word
the          False
of           False
and          False
to           False
a            False
             ...
aabe         False
aaaf         False
aaae         False
aaaaah       False
aaaaaaaaa    False
Name: freq, Length: 706375, dtype: bool

In [12]:
df.loc[df['freq']== 319]

           freq
word
wurlitzer   319
vassallo    319
varela      319
uschina     319
unspent     319
...         ...
aureus      319
arsonists   319
anion       319
allaire     319
adrianna    319

[91 rows x 1 columns]

what is the most common freq?

In [13]:
df['freq'].describe()

count    7.063750e+05
mean     1.289370e+03
std      1.017556e+05
min      6.000000e+00
25%      9.000000e+00
50%      1.600000e+01
75%      4.800000e+01
max      5.878449e+07
Name: freq, dtype: float64

In [14]:
df['freq'].mode()

0    6
Name: freq, dtype: int64

In [17]:
df['freq'].value_counts().head()

freq
6     73291
7     56179
8     45549
9     37445
10    31228
Name: count, dtype: int64

In [18]:
df.loc[df['freq'] == 6].sample(10)

                   freq
word
centerpost            6
rectenbaugh           6
shebly                6
kulluk                6
macuga                6
savanter              6
shortcoupled          6
roscellinus           6
alkylphenols          6
paramesvaravarman     6

what is the shortest word with freq 274?

In [20]:
df.loc[df['freq'] == 274].sort_values(by='word')

             freq
word
afflicts      274
agro          274
akali         274
albinism      274
anglicanism   274
...           ...
waal          274
wea           274
wellspoken    274
wyler         274
zellweger     274

[127 rows x 1 columns]

In [24]:
df.loc[
    (df['freq'] == 274) &
    (df.index == 'wyler')
]

       freq
word
wyler   274

create a column Ratio which represents the 'Freq Ratio' of a word

In [31]:
df['Char Count']= df.index.str.len()
df

               freq  Char Count
word
the        58784490         3.0
of         25242547         2.0
and        25188846         3.0
to         24462483         2.0
a          22290078         1.0
...             ...         ...
aabe              6         4.0
aaaf              6         4.0
aaae              6         4.0
aaaaah            6         6.0
aaaaaaaaa         6         9.0

[706375 rows x 2 columns]

In [37]:
df['Ratio'] = df['freq']/df['Char Count']
df.sample(50)

                   freq  Char Count        Ratio
word
anonson               8         7.0     1.142857
manhattanbound       40        14.0     2.857143
awestruck           424         9.0    47.111111
tamralipti           14        10.0     1.400000
farore                9         6.0     1.500000
powerswitch           7        11.0     0.636364
konzerthaus          23        11.0     2.090909
sandefurs             6         9.0     0.666667
reticule             58         8.0     7.250000
flumph                6         6.0     1.000000
onorbit             120         7.0    17.142857
khubz                17         5.0     3.400000
glasstop             14         8.0     1.750000
defeo                98         5.0    19.600000
barbigha             14         8.0     1.750000
mcphatters            7        10.0     0.700000
scicon               11         6.0     1.833333
fireraising           8        11.0     0.727273
brodel                7         6.0     1.166667
unpaid             4849         6.0   808.166667
hecker              423         6.0    70.500000
kappalottiya          7        12.0     0.583333
mckenneys             9         9.0     1.000000
yutian               44         6.0     7.333333
hangu                53         5.0    10.600000
currencyexchange      7        16.0     0.437500
stockbridges         15        12.0     1.250000
idiosyncrasy        106        12.0     8.833333
schuller            239         8.0    29.875000
santonja              7         8.0     0.875000
reavers             224         7.0    32.000000
archuletas           79        10.0     7.900000
salination           29        10.0     2.900000
lykes                54         5.0    10.800000
brabeck              11         7.0     1.571429
bayberry             85         8.0    10.625000
boycotts            767         8.0    95.875000
disola               12         6.0     2.000000
agian                58         5.0    11.600000
releases          20971         8.0  2621.375000
bodhmall             10         8.0     1.250000
ioveta               16         6.0     2.666667
babchuk              36         7.0     5.142857
toome                26         5.0     5.200000
democratnext          6        12.0     0.500000
decrescendo          13        11.0     1.181818
drell                39         5.0     7.800000
larida                6         6.0     1.000000
regionales            6        10.0     0.600000
serer                42         5.0     8.400000

what is the maximum value of ratio?

In [39]:
df['Ratio'].describe()

count    7.063720e+05
mean     3.694920e+02
std      4.666677e+04
min      1.379310e-01
25%      1.125000e+00
50%      2.166667e+00
75%      6.833333e+00
max      2.229008e+07
Name: Ratio, dtype: float64

what word is the one with the highest ratio?

In [40]:
df.sort_values(by='Ratio',ascending=False).head()

          freq  Char Count       Ratio
word
a     22290078         1.0  22290078.0
the   58784490         3.0  19594830.0
of    25242547         2.0  12621273.5
to    24462483         2.0  12231241.5
in    21196107         2.0  10598053.5

In [41]:
df.loc[df['Ratio'] == df['Ratio'].max()]

          freq  Char Count       Ratio
word
a     22290078         1.0  22290078.0

What is the shortest wrod of freq = 274?

In [35]:
df.loc[
    (df['freq'] == 274) &
    (df['Char Count'] == df.loc[df['freq'] == 274, 'Char Count'].min())
]

      freq  Char Count
word
wea    274         3.0
ofc    274         3.0
nbs    274         3.0
mmi    274         3.0
dlr    274         3.0
bua    274         3.0

How many words have ratio of 10?

In [44]:
df.loc[df['Ratio'] == 10].shape

(1267, 3)

In [46]:
df.query('Ratio == 10').shape

(1267, 3)

what is the maximum freq of all the words with a ratio of 10?

In [47]:
df.query('Ratio == 10').sort_values(by = 'freq',ascending=False).head()

                    freq  Char Count  Ratio
word
interrelationships   180        18.0   10.0
filipinoamerican     160        16.0   10.0
contextsensitive     160        16.0   10.0
ligebastognelige     160        16.0   10.0
investigational      150        15.0   10.0

In [48]:
df.loc[df['Ratio'] == 10,'freq'].max()

180

of those words with a freq of 260, what is the lowest char count found?

In [49]:
df.query('freq == 260').sort_values(by = 'Char Count')

                 freq  Char Count       Ratio
word
zn                260         2.0  130.000000
trc               260         3.0   86.666667
jjb               260         3.0   86.666667
sro               260         3.0   86.666667
luk               260         3.0   86.666667
...               ...         ...         ...
shorttempered     260        13.0   20.000000
prisonerofwar     260        13.0   20.000000
nottoodistant     260        13.0   20.000000
astrophysicist    260        14.0   18.571429
antiimperialist   260        15.0   17.333333

[169 rows x 3 columns]