In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('english_words.csv')
df.head()

  word      freq
0  the  58784490
1   of  25242547
2  and  25188846
3   to  24462483
4    a  22290078

In [16]:
df = pd.read_csv('english_words.csv',index_col='word')
df

               freq
word
the        58784490
of         25242547
and        25188846
to         24462483
a          22290078
...             ...
aabe              6
aaaf              6
aaae              6
aaaaah            6
aaaaaaaaa         6

[706375 rows x 1 columns]

How many elements does this dataframe have?

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 706375 entries, the to aaaaaaaaa
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   freq    706375 non-null  int64
dtypes: int64(1)
memory usage: 10.8+ MB

In [13]:
df.shape

(706375, 1)

what is the value of word aaaaaaaaa?

In [18]:
df.loc['aaaaaaaaa','freq']

6

what is the highest possible freq of a word?

In [19]:
df.max()

freq    58784490
dtype: int64

In [20]:
df.describe()

               freq
count  7.063750e+05
mean   1.289370e+03
std    1.017556e+05
min    6.000000e+00
25%    9.000000e+00
50%    1.600000e+01
75%    4.800000e+01
max    5.878449e+07

Getting the freq of multiple words at once

In [21]:
df.loc[['the','and','to']]

          freq
word
the   58784490
and   25188846
to    24462483

what is the word with the freq of 319?

In [22]:
df.sort_values(by = ['freq'],ascending= False)

               freq
word
the        58784490
of         25242547
and        25188846
to         24462483
a          22290078
...             ...
pdef              6
pdcpd             6
pdch              6
pdaphone          6
aaaaaaaaa         6

[706375 rows x 1 columns]

In [25]:
(df['freq'] == 319)

word
the          False
of           False
and          False
to           False
a            False
             ...
aabe         False
aaaf         False
aaae         False
aaaaah       False
aaaaaaaaa    False
Name: freq, Length: 706375, dtype: bool

In [24]:
df.loc[df['freq']== 319]

           freq
word
wurlitzer   319
vassallo    319
varela      319
uschina     319
unspent     319
...         ...
aureus      319
arsonists   319
anion       319
allaire     319
adrianna    319

[91 rows x 1 columns]